<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <title>Sample</title>
  </head>
  <body>
    <h1>Spring Demo Project</h1>
    <hr />
    <div sec:authorize="isAnonymous()" class="container">
      <h3>로그인</h3>
      <div class="input-group">
        <input type="text" id="email" name="email" placeholder="email" /><br />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
        /><br />
      </div>
      <button onclick="login()">로그인</button>
    </div>
    <div sec:authorize="isAuthenticated()" class="container">
      <button onclick="logout()">로그아웃</button>
      <hr />
      <div class="content">
        <h3>글 목록</h3>
        <div id="list"></div>
        <button onclick="list()">조회하기</button>
        <hr />
        <h3>글 입력</h3>
        <div id="insert">
          <div class="input-group">
            <input
              type="text"
              id="title"
              name="title"
              placeholder="title"
            /><br />
            <input
              type="text"
              id="content"
              name="content"
              placeholder="content"
            /><br />
            <input
              type="text"
              id="author"
              name="author"
              placeholder="author"
            /><br />
          </div>
          <button onclick="add()">작성하기</button>
        </div>
        <hr />
        <h3>글 상세</h3>
        <div id="detail"></div>
        <hr />
        <h3>제목으로 검색</h3>
        <div class="search">
          <input type="text" id="search-title" placeholder="제목으로 검색" />
          <button onclick="searchByTitle()">검색</button>
        </div>
        <hr />
        <h3>회원 목록</h3>
        <div id="user-list"></div>
        <button onclick="userList()">조회하기</button>
      </div>
    </div>
    <script>
      async function list(title) {
        let url = "http://localhost:8080/post";
        if (title) {
          url += "?title=" + encodeURIComponent(title);
        }
        const token = localStorage.getItem("accessToken");
        const authorization = `Bearer ${token}`;
        const response = await fetch(url, {
          method: "GET",
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json",
            Authorization: authorization,
          },
        });
        if (response.status == 200) {
          const posts = await response.json();
          const tbody = posts
            .map(
              (post) => `<tr>
							<td>${post.id}</td>
							<td><a href="#" onclick="read(${post.id})">${post.title}</a></td>
							<td>${post.content}</td>
							<td>${post.author}</td>
							<td>${post.createdAt}</td>
						</tr>`
            )
            .join("");
          document.getElementById("list").innerHTML = `
		  	<table>
				<thead>
					<tr>
						<th>글 번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>생성일자</th>
					</tr>
				</thead>
				<tbody>${tbody}</tbody>
			</table>`;
        }
      }

      async function add() {
        const token = localStorage.getItem("accessToken");
        const title = document.getElementById("title").value;
        const content = document.getElementById("content").value;
        const author = document.getElementById("author").value;

        if (!title) return;

        const url = "http://localhost:8080/post";
        const response = await fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${token}`,
          },
          body: JSON.stringify({
            title: title,
            content: content ? content : null,
            author: author ? author : null,
          }),
        });
        if (response.ok) {
          const post = await response.json();
        }
        read(post.id);
      }

      async function read(id) {
        const token = localStorage.getItem("accessToken");
        const url = `http://localhost:8080/post/${id}`;
        const response = await fetch(url, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${token}`,
          },
        });

        if (response.ok) {
          const post = await response.json();

          let tbody = `<tr>
              				<td>${post.id}</td>
              				<td>${post.title}</td>
              				<td>${post.content}</td>
              				<td>${post.author}</td>
              				<td>${post.createdAt}</td>
              		</tr>`;

          document.getElementById("detail").innerHTML = `<table>
              	         <thead>
              	           <tr>
              	             <th>글 번호</th>
              	             <th>제목</th>
              	             <th>내용</th>
              	             <th>작성자</th>
              	             <th>생성일자</th>
              	           </tr>
              	         </thead>
                     			 <tbody>${tbody}</tbody>
                   			</table>
                   			<div>
                          <button onclick="update(${post.id})">수정하기</button>
                          <button onclick="remove(${post.id})">삭제하기</button>
                    		</div>`;
        }
      }

      async function remove(id) {
        const token = localStorage.getItem("accessToken");
        const url = `http://localhost:8080/post/${id}`;
        const response = await fetch(url, {
          method: "DELETE",
          headers: { Authorization: `Bearer ${token}` },
        });
        if (response.ok) {
          alert("삭제되었습니다.");
          document.getElementById("detail").innerHTML = "";
          list();
        }
      }

      async function update(id) {
        const token = localStorage.getItem("accessToken");
        const url = `http://localhost:8080/post/${id}`;
        const response = await fetch(url, {
          method: "GET",
          headers: {
            Authorization: `Bearer ${token}`,
          },
        });

        if (response.ok) {
          const post = await response.json();
          document.getElementById(
            "detail"
          ).innerHTML = `<div class="input-group">
			<input type="text" id="update-title" name="title" placeholder="title" value="${post.title}"><br>
			<input type="text" id="update-content" name="content" placeholder="content" value="${post.content}"><br>
			<input type="text" id="update-author" name="author" placeholder="author" value="${post.author}"><br>
			</div>
			<div>
				<button onclick="updateSubmit(${id})">수정하기</button>
				<button onclick="read(${id})">취소하기</button>
				</div>`;
        }
      }

      async function updateSubmit(id) {
        const title = document.getElementById("update-title").value;
        const content = document.getElementById("update-content").value;
        const author = document.getElementById("update-author").value;

        const token = localStorage.getItem("accessToken");
        const post = await fetch(`http://localhost:8080/post/${id}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${token}`,
          },
          body: JSON.stringify({
            title: title,
            content: content ? content : null,
            author: author ? author : null,
          }),
        });
        alert("수정되었습니다.");
        read(id);
      }

      async function searchByTitle() {
        const title = document.getElementById("search-title").value;

        if (!title) return;

        await list(title);
      }

      async function userList() {
        let url = "http://localhost:8080/users/list";
        const token = localStorage.getItem("accessToken");
        const response = await fetch(url, {
          method: "GET",
          headers: {
            Authorization: `Bearer ${token}`,
          },
        });
        if (response.ok) {
          const users = await response.json();
          console.log(users);
          const tbody = users
            .map(
              (user) => `<tr>
              				<td>${user.id}</td>
              				<td>${user.email}</td>
              				<td>${user.name}</td>
              				<td>${user.createdAt}</td>
              				<td>${user.modifiedAt}</td>
              		</tr>`
            )
            .join("");

          document.getElementById("user-list").innerHTML = `<table>
                <thead>
               <tr>
                 <th>회원 번호</th>
                 <th>이메일</th>
                 <th>이름</th>
                 <th>가입 일자</th>
                 <th>정보 수정 일자</th>
               </tr>
                </thead>
              <tbody>${tbody}</tbody>
                 </table>`;
        }
      }

      async function login() {
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const response = await fetch("http://localhost:8080/auth/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email: email,
            password: password,
          }),
        });
        if (response.ok) {
          const data = await response.json();
          localStorage.setItem("accessToken", data.accessToken);
        }
      }

      async function logout() {
        const token = localStorage.getItem("accessToken");
        const authorization = `Bearer ${token}`;
        const response = await fetch("http://localhost:8080/auth/logout", {
          method: "POST",
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json",
            Authorization: authorization,
          },
        });
        if (response.ok) {
          alert("logout");
        }
      }
    </script>
  </body>
</html>
